<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
  <head>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>@page { size: A4 auto; margin: 15mm 15mm 30mm 15mm; @bottom-left { font-family: Verdana; font-size: 10.0pt; content: "P&aacute;gina " counter(page) " de " counter(pages); } } body { font-family: Verdana; font-size: 10.0pt; } table { border-collapse: collapse; border-spacing: 0; table-layout: auto; -fs-table-paginate: paginate;}
    </style>
    <title>Listagem de Clientes</title>
</head>
  <body>
      <div class="container">
        <h3 class="text-center">Listagem de Clientes</h3>
        <br />
        <table class="table table-sm table-hover table-bordered">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Endereco</th>
                <th scope="col">N</th>
                <th scope="col">Bairro</th>
                <th scope="col">Telefone</th>
                <th scope="col">Celular</th>
                <th scope="col">E-Mail</th>
              </tr>
            </thead>
            <tbody>
                <th:block th:each="cli : ${clientes}">
                    <tr>
                        <th th:text="${cli.id}" scope="row"></th>
                        <td th:text="${cli.nome}"></td>
                        <td th:text="${cli.end}"></td>
                        <td th:text="${cli.num}"></td>
                        <td th:text="${cli.bairro}"></td>
                        <td th:text="${cli.fone}"></td>
                        <td th:text="${cli.cel}"></td>
                        <td th:text="${cli.email}"></td>
                    </tr>
                </th:block>
                <th:block th:if="${clientes.isEmpty()}">
                    <tr>
                        <th scope="row" colspan="8">Náo existe dados para impressao</th>
                    </tr>    
                </th:block>
            </tbody>
          </table>
      </div>
  </body>
</html>