<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

        <style>
            page[size="A4"] {
                background: white;
                width: 21cm;
                height: 29.7cm;
                display: block;
                margin: 0 auto;
                margin-bottom: 0.5cm;
                box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
            }
            @media print {
                body, page[size="A4"] {
                    margin: 0;
                    box-shadow: 0;
                }
            }
            body {
                font: 9pt "Tahoma";
            }
        </style>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>Ordem de Serviço</title>
    </head>
    <body>
        <page size="A4">
            <div class="container">
                <th:block th:if="${empresa!=null}">
                    <table class="table table-sm table-hover table-bordered">
                        <thead>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <span class="font-weight-bold" th:text="${empresa.nome}"></span>
                                    <br />
                                    <span class="font-weight-bold">CNPJ:</span>
                                    <span class="font-weight-normal" th:text="${empresa.cnpj}"></span>
                                    <br />
                                    <span class="font-weight-bold">Endereço:</span>
                                    <span class="font-weight-normal" th:text="${empresa.endereco}"></span>
                                    <br />
                                    <span class="font-weight-bold">CEP:</span>
                                    <span class="font-weight-normal" th:text="${empresa.cep + '-' + empresa.cidade +'/'+empresa.estado}"></span>
                                    <br />
                                    <span class="font-weight-bold">Fone:</span>
                                    <span class="font-weight-normal" th:text="${empresa.telefone +' '+ empresa.celular}"></span>
                                    <br />
                                    <span class="font-weight-bold">E-mail:</span>
                                    <span class="font-weight-normal" th:text="${empresa.email}"></span>
                                    <br />
                                    <span class="font-weight-bold">Site:</span>
                                    <span class="font-weight-normal" th:text="${empresa.site}"></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </th:block>
                <br />
                <h4 class="text-center">Ordem de Serviço</h4>
                <p class="text-right" th:text="${#dates.format(#dates.createNow(),'dd/MM/yyyy HH:mm')}"></p>    
                <br />
                <table class="table table-sm table-hover table-bordered">
                    <thead>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <span class="font-weight-bold">Nº Os:</span>
                                <span class="font-weight-normal" th:text="${os.id}"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="font-weight-bold">Cliente:</span>
                                <span class="font-weight-normal" th:text="${os.cliente.nome}"></span>
                            </td>
                            <td>
                                <span class="font-weight-bold">Contato:</span>
                                <span class="font-weight-normal" th:text="${os.cliente.cel +'/'+ os.cliente.fone}"></span>
                            </td>
                            <td>
                                <span class="font-weight-bold">Data:</span>
                                <span class="font-weight-normal" th:text="${#dates.format(os.data.getTime(),'dd/MM/yyyy HH:mm')}"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="font-weight-bold">Tipo:</span>
                                <span class="font-weight-normal" th:text="${os.tipo}"></span>
                            </td>
                            <td>
                                <span class="font-weight-bold">Garantia:</span>
                                <span class="font-weight-normal" th:text="${os.garantia}"></span>
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="font-weight-bold">Aparelho:</span>
                                <span class="font-weight-normal" th:text="${os.aparelho}"></span>
                            </td>
                            <td>
                                <span class="font-weight-bold">Defeito:</span>
                                <span class="font-weight-normal" th:text="${os.defeito}"></span>
                            </td>
                            <td>
                                <span class="font-weight-bold">Situação:</span>
                                <span class="font-weight-normal" th:text="${os.situacao}"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="font-weight-bold">Tecnico:</span>
                                <span class="font-weight-normal" th:text="${os.tecnico}"></span>
                            </td>
                            <td colspan="2">
                                <span class="font-weight-bold">Servico:</span>
                                <span class="font-weight-normal" th:text="${os.servico}"></span>
                            </td>
                           
                        </tr>
                        <tr>
                            <td>
                                <span class="font-weight-bold">Valor:</span>
                                <span class="font-weight-normal" th:text="${os.valor}"></span>
                            </td>
                            <td>
                                <span class="font-weight-bold">Entrada:</span>
                                <span class="font-weight-normal" th:text="${os.entrada}"></span>
                            </td>
                            <td>
                                <span class="font-weight-bold">A pagar:</span>
                                <span class="font-weight-normal" th:text="${os.pagar}"></span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <span class="font-weight-bold">Observacao:</span>
                                <span class="font-weight-normal text-break" th:text="${os.obs}"></span>
                            </td>
                        </tr>

                    </tbody>
                </table>
                <th:block th:if="${empresa !=null && empresa.mensagem !=null}">
                    <table class="table table-sm table-hover table-borderless">
                        <thead>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-center font-weight-bold text-break">
                                    <span class="font-weight-normal" th:text="${empresa.mensagem}"></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </th:block>
                <br />
                <div class="col">
                    <label>Responsavel: __________________________________</label>
                </div>
            
                <br />
                <br />
                <br />

                <h4 class="text-center">Ordem de Serviço</h4>
                <p class="text-right" th:text="${#dates.format(#dates.createNow(),'dd/MM/yyyy HH:mm')}"></p>    
                <table class="table table-sm table-hover table-bordered">
                    <thead></page>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <span class="font-weight-bold">Nº Os:</span>
                                <span class="font-weight-normal" th:text="${os.id}"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="font-weight-bold">Cliente:</span>
                                <span class="font-weight-normal" th:text="${os.cliente.nome}"></span>
                            </td>
                            <td>
                                <span class="font-weight-bold">Contato:</span>
                                <span class="font-weight-normal" th:text="${os.cliente.cel +'/'+ os.cliente.fone}"></span>
                            </td>
                            <td>
                                <span class="font-weight-bold">Data:</span>
                                <span class="font-weight-normal" th:text="${#dates.format(os.data.getTime(),'dd/MM/yyyy HH:mm')}"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="font-weight-bold">Tipo:</span>
                                <span class="font-weight-normal" th:text="${os.tipo}"></span>
                            </td>
                            <td>
                                <span class="font-weight-bold">Garantia:</span>
                                <span class="font-weight-normal" th:text="${os.garantia}"></span>
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="font-weight-bold">Aparelho:</span>
                                <span class="font-weight-normal" th:text="${os.aparelho}"></span>
                            </td>
                            <td>
                                <span class="font-weight-bold">Defeito:</span>
                                <span class="font-weight-normal" th:text="${os.defeito}"></span>
                            </td>
                            <td>
                                <span class="font-weight-bold">Situação:</span>
                                <span class="font-weight-normal" th:text="${os.situacao}"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="font-weight-bold">Tecnico:</span>
                                <span class="font-weight-normal" th:text="${os.tecnico}"></span>
                            </td>
                            <td colspan="2">
                                <span class="font-weight-bold">Servico:</span>
                                <span class="font-weight-normal" th:text="${os.servico}"></span>
                            </td>
                           
                        </tr>
                        <tr>
                            <td>
                                <span class="font-weight-bold">Aparelho Ligando:&nbsp;</span>
                                <label><input type="checkbox" value=""> Sim </label>
                                <label><input type="checkbox" value=""> Não </label>
                            </td>
                            <td>
                                <span class="font-weight-bold">Aparelho Carregando:&nbsp;</span>
                                <label><input type="checkbox" value=""> Sim </label>
                                <label><input type="checkbox" value=""> Não </label>
                            </td>
                            <td>
                                <span class="font-weight-bold">Outro:</span>
                                <span class="font-weight-normal">___________________________</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="font-weight-bold">Valor:</span>
                                <span class="font-weight-normal" th:text="${os.valor}"></span>
                            </td>
                            <td>
                                <span class="font-weight-bold">Entrada:</span>
                                <span class="font-weight-normal" th:text="${os.entrada}"></span>
                            </td>
                            <td>
                                <span class="font-weight-bold">A pagar:</span>
                                <span class="font-weight-normal" th:text="${os.pagar}"></span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <span class="font-weight-bold">Observacao:</span>
                                <span class="font-weight-normal text-break" th:text="${os.obs}"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br />
                <div class="col-8 d-inline-block">
                    <label>Responsavel: __________________________________</label>
                </div>
                <div class="col- d-inline-block">
                    <label>Senha: ___________________</label>
                    <table class="table table-hover table-bordered">
                        <thead>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-center font-weight-bold">.</td>
                                <td class="text-center font-weight-bold">.</td>
                                <td class="text-center font-weight-bold">.</td>
                            </tr>
                            <tr>
                                <td class="text-center font-weight-bold">.</td>
                                <td class="text-center font-weight-bold">.</td>
                                <td class="text-center font-weight-bold">.</td>
                            </tr>
                            <tr>
                                <td class="text-center font-weight-bold">.</td>
                                <td class="text-center font-weight-bold">.</td>
                                <td class="text-center font-weight-bold">.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </page>
    </body>
</html>